
body{
    background-color:rgb(230, 237, 243)
}
h1{
    color:white;
    background-color:burlywood;
    border:4px solid white;
    border-radius: 15px;
    text-align:center;  
}

h1:hover{
    color:black;
    background-color:white;
    border:4px solid black;
}
#my-blogs-landing-page{
    text-decoration:none;
    color:black;
}
#my-blogs-landing-page:hover{
    text-decoration:underline;
    color:#127952;
}